ul,li,ol,body{margin:0;padding:0;list-style:none;}

.carousel {
  
  .slider {
    overflow:hidden;
    li {
      float:left;
    }
    img {
      display:block;
    }
  }
  
  .navi {
    text-align: center;
    .prev {
      float: left;
    }
    .next {
      float:right;
    }
    i {
      display:inline-block;
      width:8px;
      height:8px;
      border:1px solid blue;
      border-radius:100%;
    }
    i.active {
      background-color: red;
    }
  }
  
}
.slide-main{
  width:100%;
  overflow:hidden;
}
.slide{
  width:100%;
}
#picContainer{
  position:relative;
  overflow:hidden;
}
#picContainer li{
  float:left;
}
#picContainer img{
  display:block;
  width:100%;
  height:auto;
}
.page-prevnext{
  width:300px;
  height:28px;
  margin:7px auto 0 auto;
  text-align:center;
}
.page-prevnext a{
  display:inline-block;
  padding: 6px 22px;
  height:14px;
  border: solid #5f7dbe 1px;
  line-height:14px;
  font-weight:bold;
}
.prev-btn{
  float:left;
}
.next-btn{
  float:right;
}
.dotpic{
  display:inline-block;
  padding: 8px 0;
}
.dotpic i{
  display:inline-block;
  width: 11px;
  height: 11px;
  margin: 0 3px;
  border: solid #5f7dbe 1px;
  background: #f5f6f9;
  vertical-align: top;
  overflow: hidden;
  border-radius: 7px;
}
.dotpic i.active{
  background: #5f7dbe;
}