[data-role="tabSwitch"] > li {
  display:inline-block;
  background-color: red;
}
[data-role="tabSwitch"] > .active {
  background-color: pink;
}
[data-role="tabSwitch"] + div > div {
  display:none;
  background-color: yellow;
}
[data-role="tabSwitch"] + div > div:first-child {
  display:block;
}