.popbox {
  display:none;
  background-color: green;
  width:50%;
  height:15em;
  position: absolute;
  margin:auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: 99;
  &.small {
    width:30%;
  }
  &.big {
    width:80%;
  }
}