html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}ol,ul {list-style:none;}img{vertical-align:top;}input,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0); tap-highlight-color:rgba(0,0,0,0);}

body {
  font: normal 16px/1.8em "Microsoft Yahei";
  padding:0 20px;
}
h1,h2,h3,h4,h5,h6 {
  font-size:32px;
  line-height: 2.5em;
}
h2 {
  font-size:28px;
}
h3 {
  font-size:24px;
}
h4 {
  font-size:20px;
}
h5,h6 {
  font-size:18px;
}

strong {
  font-weight: bold;
  color:#d00;
}

code {
  background-color: #dbffa2;
}

pre {
  background-color: #eee;
  color:#333;
}